mixin slide(id, isActive)
  if isActive
    - var classes = "slider--active"
  else 
    - var classes = ""
  
  .slider__slide(class= classes id= id)
    .slider__content
      if block 
        block
      else 
        p No info :(

mixin sliderList
  .slider__list_wrapper
    block

mixin slideInline
  block

mixin card(rating, avatarUrl, id, specialty)
  .card__wrapper
      .card
        .card__header
          .card__quote
            img(src="./img/quote.svg", alt="")
          .card__rating
            .card__number.text--light-gray= rating
            ul.card__list
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")

        .card__body
          block

        .card__footer
          .card__profile
            img.card__avatar(src=avatarUrl, alt="")
            p.p.p--sm.text--light-gray ID: #{id}
          .card__specialty
            p.p.p--sm.text--light-gray= specialty

mixin articleWrapper(reverse=false)
  if reverse
    - var classes = "article__wrapper--reverse"
  .article__wrapper(class=classes)
    block

mixin article(title="Untitled", pt=false, ptmd=false, ptsm=false)
  if pt
    - var classes = "article__content--pt"
  if ptmd
    - var classes = "article__content--pt-md"
  if ptsm
    - var classes = "article__content--pt-sm"

  .article__content(class=classes)
    .article__title
        h1.text--blue=title
    .article__text
        block
    
mixin articleInfo(imageUrl, note=false, noteMb=false, imgMl=false)
  if imgMl 
    - var imgClasses = 'article__img--ml'
  .article__info
    img.article__img(src=imageUrl alt="Error" class=imgClasses)

    if noteMb 
      - var classes = "note--mb"

    if note
      .note(class=classes)
        .note__header
            .note__icon
                img(src="./img/card-icon.svg", alt="card")
            .note__title
                h5.text--blue Merke:
        .note__content
            block

mixin articleFooter(center=false)
  if center
      - var classes = "article__footer--center"
  .article__footer(class=classes)
    block